<!-- CONTACTS SECTION -->

	<section id="contacts" class="dark">
		<div class="container">	
			<div class="col-md-5">
				
				<!-- Contacts -->
				<div id="info">
					<h1 >GET IN <br/><span>TOUCH</span></h1>
					
					<!-- Contact 1 -->
					<p>If you like this website and you wish to have your own, say hello!</p>
					<h6><span class= "glyphicon glyphicon-phone" aria-hidden = "true"></span><a href="skype:hola.ahnita?call" id="skype" title="" data-original-title="Call Ahnita">  hola.ahnita</a></h6>
					
					
					<!-- Contact 2 -->
					<h6><span class= "glyphicon glyphicon-envelope" aria-hidden = "true"></span><a href="mailto:ahn.bustamante@gmail.com?Subject=Hello%20Ahnita!" target="_top" title="" id="emailahnita">  ahn@ahnbustamante.com</a></h6>
					
					<!-- Contact 3 -->
					<h6><span class= "glyphicon glyphicon-map-marker" aria-hidden = "true"></span>  Makati, Philippines</h6>
					
				</div><!-- End Contacts -->
			</div>

			<div class="col-md-7 contact" >
			
				<!-- Contact Form -->
				<%= flash[:notice] %>

				<%= form_tag("/static_pages/thank you") do %>
				
        	 	<div class="form-group">
            		<%= label_tag :name, "Name" %>
            		<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
        		</div>      
        		<div class="form-group">
            		<%= label_tag :email, "Email Address" %>
            		<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
        		</div>
        		<div class="form-group">
            		<%= label_tag :message, "Message" %>
            		<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
        		</div>      
				<%= submit_tag "Send" %>   
				<% end %><!-- End Contact Form -->
			</div>
		</div>
	</section>