<!-- HEADER INTRO -->
<!-- 1. Link to jQuery (1.8 or later), -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
				
<section class="intro-page" style="height:200px; margin-top:100px !important; background:#8b806c">
    <div class="container">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3" style="text-align:center; padding: 0 35px">
				
			<!-- Page Title -->
			<div class="page-title">
				<h4>Gallery</h4>
				<p>Pictures taken within Metro Manila, from galleries to museums to trendy hotspots.</p>
			</div>
				
		</div>
	</div>
</section> 

<!-- PORTFOLIO -->

<div class="row-gallery">
	<div class="fotorama">
		<%= image_tag "BGC.jpg", :size => "100%x300", :alt => "BGC Wall Mural" %>
  		<%= image_tag "BGC2.jpg", :size => "100%x300", :alt => "BGC Wall Mural" %>
  		<%= image_tag "BGC3.jpg", :size => "100%x300", :alt => "BGC trees" %>
  		<%= image_tag "BGC4.jpg", :size => "100%x300", :alt => "BGC Wall Mural" %>
  		<%= image_tag "BGC5.jpg", :size => "100%x300", :alt => "BGC Wall Mural" %>
		<%= image_tag "Restock.jpg", :size => "100%x300", :alt => "Restock Cafe" %>
		<%= image_tag "Ronac.jpg", :size => "100%x300", :alt => "Ronac Art Center" %>
		<%= image_tag "silverlens.jpg", :size => "100%x300", :alt => "Silverlens" %>
		<%= image_tag "TheCurator.jpg", :size => "100%x300", :alt => "The Curator" %>
		<%= image_tag "SecretFresh.jpg", :size => "100%x300", :alt => "Secret Fresh" %>
  		<%= image_tag "altromondo.jpg", :size => "100%x300", :alt => "Altro Mondo" %>
  		<%= image_tag "PintoMuseum.jpg", :size => "100%x300", :alt => "Pinto Museum" %>
		<%= image_tag "PintoMuseum2.jpg", :size => "100%x300", :alt => "Pinto Museum" %>
  		<%= image_tag "Art Underground.jpg", :size => "100%x300", :alt => "Art Underground" %>
  		<%= image_tag "Finale.jpg", :size => "100%x300", :alt => "Finale Art File"%>
  		<%= image_tag "LePetiteSouffle.jpg", :size => "100%x300", :alt => "Le Petite Souffle" %>
  		<%= image_tag "Makatiview.jpg", :size => "100%x300", :alt => "View of Makati from Mandaluyong" %>
  		<%= image_tag "MCAD.jpg", :size => "100%x300", :alt => "MCAD" %>
  		<%= image_tag "NovaGallery.jpg", :size => "100%x300", :alt => "Nova Gallery" %>
  		<%= image_tag "NovaGallery2.jpg", :size => "100%x300", :alt => "Nova Gallery" %>
  		<%= image_tag "TobysEstate.jpg", :size => "100%x300", :alt => "Toby's Estate" %>
  		<%= image_tag "VinylonVinyl.jpg", :size => "100%x300", :alt => "Vinyl on Vinyl" %>
  		<%= image_tag "Yuchengco.jpg", :size => "100%x300", :alt => "Yuchengco Museum" %>
	</div>

</div>
